html,
body {
	height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.wrap > .container {
	padding: 90px 15px 20px;
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #c55;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content: "\e151";
}

a.desc:after {
	content: "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view td {
	white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
	min-width: 50px;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
	padding: 15px;
	border: none;
}

@media (max-width: 767px) {
	.nav li > form > button.logout {
		display: block;
		text-align: left;
		width: 100%;
		padding: 10px 15px;
	}
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
	text-decoration: none;
}

.nav > li > form > button.logout:focus {
	outline: none;
}

.short-code {
	line-height: 45px;
	font-size: 25px;
}

@media (max-width: 390px) {
	.short-code {
		font-size: 18px;
	}
}

.short-code span {
	font-size: 12px;
	color: #ccc;
}

.short-code span:before {
	background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%202%2010%2010%22%3E%3Cpath%20d%3D%22M0%207.5C0%207.2%200.2%207%200.5%207L1.5%207C1.8%207%202%207.2%202%207.5L2%2011.5C2%2011.8%201.8%2012%201.5%2012L0.5%2012C0.2%2012%200%2011.8%200%2011.5L0%207.5ZM4%202.5C4%202.2%204.2%202%204.5%202L5.5%202C5.8%202%206%202.2%206%202.5L6%2011.5C6%2011.8%205.8%2012%205.5%2012L4.5%2012C4.2%2012%204%2011.8%204%2011.5L4%202.5ZM8%205.5C8%205.2%208.2%205%208.5%205L9.5%205C9.8%205%2010%205.2%2010%205.5L10%2011.5C10%2011.8%209.8%2012%209.5%2012L8.5%2012C8.2%2012%208%2011.8%208%2011.5L8%205.5Z%22%20fill%3D%22%23828A99%22%20style%3D%22opacity%3A0.7%22%2F%3E%3C%2Fsvg%3E') 50% no-repeat;
	width: 10px;
	height: 10px;
	content: '';
	display: inline-block;
	margin-left: 10px;
	margin-right: 5px;
}

.original-link {
	word-break: break-all;
}